# ausgeschlossene Dateien

# ausgeschlossene Verzeichnisse (mit / beenden)

# Dateien, die durch ein Muster (*, &) identifiziert werden
*.class
*.tar.bz2
*.jar
# Dateien, die entgegen dem Muster eingeschlossen werden
# (durch ! gekennzeichnet)
